/* Google FOnts */
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;600;800&display=swap");
@tailwind base;
@tailwind components;
.icon {
  @apply flex justify-center text-xl bg-transparent text-sky-400 hover:text-sky-700 hover:scale-150 font-bold items-center p-1 rounded-full;
}
.nav-icon {
  @apply pr-2 text-sky-500 font-bold text-xl;
}
.list-style{
  @apply text-sky-500 text-2xl;
}
@tailwind utilities;

* {
  scroll-behavior: smooth;
  font-family: "Baloo Bhaijaan 2", cursive;
}
body {
  width: 100%;
  height: 100vh;
  background: url("https://images.pexels.com/photos/2897883/pexels-photo-2897883.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-color: rgba(0, 0, 0, 0.63);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#jump{
  
  animation: jump 1s infinite;
}
@keyframes jump {
  0%{
    transform: translateY(-10px);
  }
  50%{
    transform: translateY(0px);
  }
  0%{
    transform: translateY(10px);
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    visibility: hidden;
 
  }
  .mobile {
    visibility: visible;
    transition: all 3s;
    transform-origin: left;
  }
}
.item:hover .overlay {
  bottom: 0%;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.671);
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding: 2rem 0;
  align-items: center;
  transition: all 0.3s;
}

